################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Vidly/v16
/Vidly.Web/bin
/Vidly.Web/obj
/.vs/Vidly/DesignTimeBuild
